.container{
    text-align: center;
    margin-top: 30px;
}
table{
    margin: auto;
    

}
h1{
    color: lightgreen;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px blue;
    font-family: cursive;
}
input{
    font-size: 34px;
    border: 2px solid palevioletred;
    border-radius: 20px;
}

button{
    font-size: 40px;
    background-color: lightslategray;
    height: 58px;
    width: 102px;
    border-radius: 20px;
}
.calculator{
    background-color: lightsteelblue;
    display: inline-block;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
body{
    background-image: url(https://i.pinimg.com/originals/81/6d/fd/816dfd710806e20aa40a7cd8c76d2e2d.jpg);
}